  <h1>Browser</h1>
  <form action="/search" method="POST">
    <input type="text" class="search" name="search" placeholder="Search...">
    <input type="number" name="from" class="difficulty" placeholder="Difficulty from..." min="1" max="6" {{#if from}}value={{from}}{{/if}}>
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." min="1" max="6" {{#if to}}value={{to}}{{/if}}>
    <input type="submit" value="search">
  </form>